<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="3.2.0" targetFramework="net462" />
  <package id="FakeXrmEasy" version="1.46.1" targetFramework="net462" />
  <package id="Microsoft.Crm.Sdk.Proxy.2011" version="5.0.18" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Xrm.Client.2011" version="5.0.18" targetFramework="net462" />
  <package id="Microsoft.Xrm.Sdk.2011" version="5.0.18" targetFramework="net462" />
  <package id="Microsoft.Xrm.Sdk.Workflow.2011" version="5.0.18" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.2.1" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.2.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NUnit" version="3.10.1" targetFramework="net462" />
</packages>